extends ../layout

block content
      centerbox
          .page-header 
                    h3 Account Information


          form.form-horizontal.centered(action='/account/profile', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.col-sm-2.control-label(for='email') Email
              .col-sm-4
                input.form-control(type='email', name='email', id='email', value='#{user.email}')
            .form-group
              label.col-sm-2.control-label(for='name') Name
              .col-sm-4
                input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')

            .form-group
              label.col-sm-2.control-label(for='location') Location
              .col-sm-4
                input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
            .form-group
              label.col-sm-2.control-label(for='website') Website
              .col-sm-4
                input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
            .form-group
              label.col-sm-2.control-label(for='facebook') Facebook:
              .col-sm-4
                if user.facebook
                    a.btn.btn-block.btn-facebook.btn-social(href='http://facebook.com/#{user.facebook}', target='_blank')
                        i.fa.fa-facebook
                        | Connected to: #{user.profile.name}
                  else
                    a.btn.btn-block.btn-sm-facebook.btn-social(href='/auth/facebook')
                        i.fa.fa-facebook
                        | Sign in with Facebook

            .form-group
              .col-sm-6
                a.btn.btn-block.btn-green.btn-social(type='submit')
                  span.ion-edit
                  | Update Profile

        //
          .page-header
            h3 Change Password

          form.form-horizontal(action='/account/password', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.col-sm-2.control-label(for='password') New Password
              .col-sm-4
                input.form-control(type='password', name='password', id='password')
            .form-group
              label.col-sm-2.control-label(for='confirmPassword') Confirm Password
              .col-sm-4
                input.form-control(type='password', name='confirmPassword', id='confirmPassword')
            .form-group
              .col-sm-offset-2.col-sm-4
                button.btn.btn.btn-primary(type='submit')
                  span.ion-locked
                  | Change Password

          .page-header
            h3 Delete Account

          p You can delete your account, but keep in mind this action is irreversible.
          form(action='/account/delete', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            button.btn.btn-danger(type='submit')
              span.ion-trash-b
              | Delete my account

          .page-header
            h3 Linked Accounts

              if user.facebook
                a.btn.btn-block.btn-sm-facebook.btn-social(href='/auth/facebook')
                    i.fa.fa-facebook
                    | Unlink Facebook
              else
                a.btn.btn-block.btn-sm-facebook.btn-social(href='/auth/facebook')
                    i.fa.fa-facebook
                    | Sign in with Facebook

              if user.twitter
                a.btn.btn-block.btn-sm-twitter.btn-social(href='/account/unlink/twitter')
                    i.fa.fa-instagram
                    | Unlink Twitter
              else
                a.btn.btn-block.btn-sm-twitter.btn-social(href='/auth/twitter')
                    i.fa.fa-twitter
                    | Sign in with Twitter

              if user.instagram

                a.btn.btn-block.btn-sm-instagram.btn-social(href='/account/unlink/instagram')
                    i.fa.fa-instagram
                    | Unlink Instagram
              else
                a.btn.btn-block.btn-sm-instagram.btn-social(href='/auth/instagram')
                    i.fa.fa-instagram
                    | Sign in with Instagram

              if user.google
                a.btn.btn-block.btn-sm-google.btn-social(href='/account/unlink/google')
                    i.fa.fa-google
                    | Unlink Google
              else
                a.btn.btn-block.btn-sm-google.btn-social(href='/auth/google')
                    i.fa.fa-google
                    | Sign in with Google

    //.form-group
          label.col-sm-2.control-label(for='gender') Gender
          .col-sm-
            label.radio
              input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
              span Male
            label.radio
              input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
              span Female

