extends homelayout

block content
    if !user
        video#bgvid(autoplay='true', loop='true',)
            source(src='/video/bg.mp4', type='video/mp4')
        header
            center
                h1 Let's make the world better. 
                | <br><br>
                a.button.btn.btn.btn-primary(href='/auth/facebook')
                        | Sign in with Facebook
                | <br>
                a.button.btn.btn.btn-sm-primary(href='/about')
                    | Learn more about how it works
                    
                    
    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                
    else 
        if user.user
        script.
            window.location = "/dashboard"
        
        

