doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    title #{title} | CharityDrops.org
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Pacifico')
    != css('styles')
    
  body
    include parts/navbar

    .container
      include parts/flash
      block content

    include parts/footer

    != js('application')
