body {
}

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
     background: url(http://upload.wikimedia.org/wikipedia/commons/5/52/AVE-Bridge-00.gif) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}


header {
  padding-top: 10%;
  color:white;
}

background {
    position:absolute; right: 0; top:90%;
    background:white;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: 100;
}